@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Home";
}
<h1>Arshdeep Kaur</h1>
<h2>Welcome to CST8359</h2>

